{% extends "base.html" %}

{% block content %}

<div class="ListPage">

  <div class="ListStats">
      <div class="StatCard RedColor">
          <div class="Body">
              <div class="StatValue">{{context.total_doctors}}</div>
              <div class="Label">Doctors</div>
          </div>
          <div class="Icon">D</div>
      </div>
      <div class="StatCard SecondColor">
          <div class="Body">
              <div class="StatValue">{{context.average_salary|floatformat:2}}</div>
              <div class="Label">Salary</div>
          </div>
          <div class="Icon">S</div></div>
      <div class="StatCard ThirdColor">
          <div class="Body">
              <div class="StatValue">{{context.average_doctor_patients|floatformat:2}}</div>
              <div class="Label">Patients</div>
          </div>
          <div class="Icon">P</div></div>
      <div class="StatCard FourthColor">
          <div class="Body">
              <div class="StatValue">{{context.average_experience|floatformat:2}}</div>
              <div class="Label">Experience</div>
          </div>
          <div class="Icon">E</div></div>
  </div>

  <div class="ListContent">
      <div class="Card">
          <div class="Header">Doctors</div>
          <div class="Body">
              <form action="" class="FilterBar">
                  <div class="Filters">
                      <input class="FilterInput" type="text" placeholder="Name:" name="name__icontains" value={{ filter.form.name__icontains.value|default_if_none:"" }}>
                      <input class="FilterInput" type="number" placeholder="Age From:" name="age__gte" value={{ filter.form.age__gte.value|default_if_none:"" }}>
                      <input class="FilterInput" type="number" placeholder="Age To:" name="age__lte" value={{ filter.form.age__lte.value|default_if_none:"" }}>
                      <input class="FilterInput" type="number" placeholder="Experience From:" name="experience__gte" value={{ filter.form.experience__gte.value|default_if_none:"" }}>
                      <input class="FilterInput" type="number" placeholder="Experience To:" name="experience__lte" value={{ filter.form.experience__lte.value|default_if_none:"" }}>
                      <input class="FilterInput" type="number" placeholder="Salary From:" name="salary__gte" value={{ filter.form.salary__gte.value|default_if_none:"" }}>
                      <input class="FilterInput" type="number" placeholder="Salary To:" name="salary__lte" value={{ filter.form.salary__lte.value|default_if_none:"" }}>
                      <input class="FilterInput" type="number" placeholder="Number of patients From:" name="patient__gte" value={{ filter.form.patient__gte.value|default_if_none:"" }}>
                      <input class="FilterInput" type="number" placeholder="Number of patients To:" name="patient__lte" value={{ filter.form.patient__lte.value|default_if_none:"" }}>
                  </div>
                  <div class="FilterActions">
                      <button class="Warning" type="reset"><a href="/doctors">Reset</a></button>
                      <button class="Success" >Search</button>
                  </div>
              </form>
              <table class="ListTable">
                  <thead>
                          <th>#</th>
                          <th>Name</th>
                          <th>Age</th>
                          <th>Experience</th>
                          <th>Salary</th>
                          <th>Patients</th>
                          <th>Actions</th>
                  </thead>
                  <tbody>
                    {% for doctor in context.doctors %}
                      <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{doctor.name}}</td>
                          <td>{{doctor.age}}</td>
                          <td>{{doctor.experience}}</td>
                          <td>{{doctor.salary}}</td>
                          <td>{{doctor.num_patients}}</td>
                          <td>
                              <button class="Warning">Edit</button>
                              <button class="Danger">Delete</button>
                              <button class="Success" id="#viewButton1"><a href="{% url 'entities:detail_doctor' pk=doctor.id %}">View</a></button>
                          </td>
                      </tr>
                      {% endfor %}
                     
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
{% endblock %}