{% extends "base.html" %} {% block content %}

<div class="ListContent">
  <div class="Card">
    <div class="Header">Room</div>
    <div class="Body">
      <div class="Card">
        <div class="Header">Room Info</div>
        <div class="Body">
          <div class="BasicData">
            <table class="VerticalTable">
              <tbody>
                <tr>
                  <th>Number</th>
                  <td>{{context.room.number}}</td>
                </tr>
                <tr>
                  <th>Capacity</th>
                  <td>{{context.room.capacity}}</td>
                </tr>
                <tr>
                  <th>Number of Patients</th>
                  <td>{{context.num_patients}}</td>
                </tr>
                <tr>
                  <th>Free Beds</th>
                  <td>{{context.free_beds}}</td>
                </tr>
                <tr>
                  <th>Number of Nurses</th>
                  <td>{{context.num_nurses}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="Card">
        <div class="Header">Patients</div>
        <div class="Body">
          <table class="ListTable">
            <thead>
              <th>#</th>
              <th>Name</th>
              <th>Age</th>
              <th>Disease</th>
              <th>Actions</th>
            </thead>
            <tbody>
              {% for patient in context.patients %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{patient.name}}</td>
                <td>{{patient.age}}</td>
                <td>{{patient.disease}}</td>
                <td>
                  <button id="#viewButton1">
                    <a href="{% url 'entities:detail_patient' pk=patient.id %}"
                      >View</a
                    >
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="Card">
        <div class="Header">Nurses</div>
        <div class="Body">
          <table class="ListTable">
            <thead>
              <th>#</th>
              <th>Name</th>
              <th>Age</th>
              <th>Experience</th>
              <th>Salary</th>
              <th>Actions</th>
            </thead>
            <tbody>
              {% for nurse in context.nurses %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{nurse.name}}</td>
                <td>{{nurse.age}}</td>
                <td>{{nurse.experience}}</td>
                <td>{{nurse.salary}}</td>
                <td>
                  <button id="#viewButton1">
                    <a href="{% url 'entities:detail_nurse' pk=nurse.id %}"
                      >View</a
                    >
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% comment %}
  <div class="Modal">
    <div class="ModalCard">
      <div class="Header">Edit Doctor</div>
      <div class="Body">
        <form class="Form">
          <div class="InputGroup">
            <label for="name">Name:</label>
            <input id="name" value="Eirini Mavrogeorgi" type="text" />
          </div>
          <div class="InputGroup">
            <label for="age">Age:</label>
            <input id="age" value="62" type="number" />
          </div>
          <div class="InputGroup">
            <label for="experience">Experience:</label>
            <input id="experience" value="25" type="number" />
          </div>
          <div class="InputGroup">
            <label for="salary">Salary:</label>
            <input id="salary" value="3500" type="number" />
          </div>
        </form>
      </div>
      <div class="Actions">
        <button class="Danger">Cancel</button>
        <button class="Success">Submit</button>
      </div>
    </div>
  </div>
  {% endcomment %}
</div>
{% endblock %}
